<div>
  <button (click)="showArchived=!showArchived"> {{showArchived ? "Show todos" : "Show archive"}}</button>
</div>

<div class="main-block">
  <p style="text-align: center">Tasks{{showArchived?"(archived tasks)":""}}</p>
  <div class="todo-list " *ngIf="todos.length>0">
    <div style="display: flex" class="header">
      <p class="flex-item">Title</p>
      <p class="flex-item">Date completed</p>
      <p class="flex-item">Actions</p>
    </div>
    <todo-item
      *ngFor="let todo of getTodos()"
      [todo]="todo"></todo-item>
  </div>
</div>
