.todo-list {
  display: flex;
  flex-direction: column;
}

.header {
  border-bottom: 3px solid blueviolet;
  border-radius: 5px;
}
.main-block{
  padding: 5px;
  box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
  border-radius: 5px;
}
