<div class="main-block">
  <div class="arch-wrap-button">

    <div class="legend-map">
      <div class="point">
        <p><b>Legend:</b></p>
      </div>
      <div class="point">
        <div class="green-circle"></div>
        <label>Completed</label>
      </div>
      <div class="point">
        <div class="blue-circle"></div>
        <label>Current</label>
      </div>
    </div>
    <div>
      <button class="btn btn-archive"
        (click)="showArchived=!showArchived"> {{showArchived ? "Show current todos" : "Show archived todos"}}</button>
    </div>
  </div>

  <h2 style="text-align: center">Tasks{{showArchived ? "(archived tasks)" : ""}}</h2>
  <div class="todo-list " *ngIf="todos.length>0">
    <div style="display: flex" class="header">
      <div class="flex-item">
        <p>Title</p>
      </div>
      <div class="flex-item">
        <p>Date completed</p>
      </div>
      <div class="flex-item">
        <p>Actions</p>
      </div>
    </div>
    <todo-item
      *ngFor="let todo of getTodos()"
      [todo]="todo"></todo-item>
  </div>
</div>
