.todo-item{
  color: black;
  border-radius: 10px;
  display: flex;
  margin: 2px;
}
.not-complete{
  border: dodgerblue 2px solid;
}
.complete{
  border: green 2px solid;
}
.flex-item{
  flex-basis: 50%;
  text-align: center;
}
